.topbarcontainer{
    height:60px;
    width:100%;
    background-color: rgb(149 146 146 / 12%);
    display:flex;
    align-items: center;
    position:sticky;
    top:0;
    z-index:999;

}


.logo{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color:rgb(8, 11, 13);
    cursor:pointer;
}

.topbarLeft{
    flex:3;

}

.topbarcenter{
    flex:5;
}

.topbarRight{
    flex:4;
    display:flex;
    align-items: center;
    justify-content: space-around;
    color:white;
}

.topbarlink{
    margin-right: 10px;
    font-size: 16px;
    cursor:pointer;
    
}

.topbarIcons{
    display:flex;
}

.topbarIconItem{
    margin-right: 15px;
    cursor:pointer;
    position: relative;
    color:black;
}

.topbarIconBadge{
    width:15px;
    height:15px;
    background-color: rgb(89, 107, 207);
    border-radius: 50%;
    color:aliceblue;
    position:absolute;
    top:-5px;
    display:flex;
    justify-content:center;
    font-size:12px;
    
}


.searchbar{
    width:70%;
    height:30px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position:relative;
    left:-220px;
    border: 2px solid black;
}

.searchIcon{
    font-size:20px !important;
    margin-left: 10px;

}

.site-logo__img{
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    width: 50px;
}

.searchinput{
    border:none;
    width:90%;
    background-color: white;

}
.searchinput:focus{
    outline:none
}


.topbarImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor:pointer;
}


.createPost{
    width: 140px;
    background:  white;
    color:#0b70e1;
    border: 1px solid #0b70e1;
    outline: 0;
    padding:6px;
    border-radius: 10px;
    margin-top:0px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 300ms;
} 

.createPost:hover{
    background-color: #0b70e1;
    color: aliceblue;
}


.dropdown {
    position: relative;
  }
 
 

  .paddingPage{
    width: auto;
    background-color: aliceblue;
    height: 55px;
    padding: 0px;
  }